apiVersion: apps/v1
kind: Deployment
metadata:
  name: pod-fast-food-api
  labels:
    app: pod-fast-food-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: pod-fast-food-api
  template:
    metadata:
      labels:
        app: pod-fast-food-api
    spec:
      containers:
        - name: backend-fast-food-api
          image: weillerschepis/fiap:7
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 5
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "64Mi"
              cpu: "1024m"
            limits:
              memory: "128Mi"
              cpu: "1024m"
          env:
            - name: RDS_HOSTNAME
              value: postgres
            - name: RDS_PORT
              value: "5432"
            - name: RDS_USERNAME
              value: postgres
            - name: RDS_PASSWORD
              value: postgres
            - name: PROFILE
              value: dev